body{
    margin: 0%;
    text-align: center;
    background-image: url(./Images/tt.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.navigation
{
    background-color:black;
    display:inline-block;
    width:100%;
    margin: 0%;
}
.logo{
    width: 79px;
    height: 48px;
    float: left;
}
a{
    float: left;
    color: white;
    text-decoration: none;
    padding: 15px 40px;
    text-align: center;
}

a:hover{
    background-color: green;
    border-radius: 30px;
}
.navbar{
    float: right;
}
#heading h2{
    float: left;
    color: white;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 63px;
}
